{% include '/Library/common/header.twig' %}

  <!-- /.content-section-a -->

<div id="issuebookbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading"  style="background-color:#f2d72b;">
            <div class="panel-title">Forgotten Password</div>
        </div>  
        <div class="panel-body" >
            <form  class="form-horizontal" method="post" action="/forgotpost">

                <div id="div_isbn" class="form-group required">
                    <label for="isbn" class="control-label col-md-4  requiredField">Email <span class="asteriskField">*</span> </label>
                    <div class="controls col-md-8 ">
                        <input name="email" type="text"  />
                    </div>
                </div>
                
                <div class="form-group"> 
                    <div class="aab controls col-md-4 "></div>
                        <div class="controls col-md-8 ">
                        	<input type="submit" name="submit" value="Forgotten password" class="btn btn-warning"/>
                		</div>
                </div> 
                <p align="center"> {{ success }}{{ error }}</p>
            </form>
              
        <a href="/home" class="btn btn-info">Go back</a>

        </div>
    </div>
        <!-- /.container -->

</div>
    <!-- /.banner -->

{% include '/Library/common/footer.twig' %}